/***** Configurações Gerais *****/
body {
    background: #f4f2ec url(/img/fundo.png) repeat-x;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#container {
	width: 1080px;
	margin: 0 auto;
}

a:link, a:active, a:visited {
	color: #af670a;
	text-decoration: none;
}

a:hover {
	color: #227115;
}


/***** Cabeçalho *****/
header {
    padding: 15px 0;
	height: 55px;
}

#logo h1 a {
    width: 248px;
	height: 21px;
    background: url(/img/logo.png) no-repeat;
    text-indent: -3000px;
    display: block;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    margin-top: -43px;
    margin-right: 35px;
}

#menu ul li {
    margin-left: 1.2px;
    padding: 10px;
    display: inline-block;
}

#menu ul li a:hover {
    border-bottom: 1px solid #535858;
}


/***** Conteúdo do Site *****/
/** Conteúdo Principal **/
h3 {
    color: #227115;
}

#conteudo {
    width: 710px;
    display: flex;
    float: left;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

#item1 {
    flex-grow: 10;
    margin-bottom: 5px;
}

#item2 {
    margin-top: -20px;
    margin-left: 10px;
    margin-right: 15px;
    flex-grow: 2;
    padding: 10px;
}

#item3 {
    flex-grow: 2;
    margin-top: -20px;
    padding: 10px;
}

#item4 {
    margin-top: -20px;
    margin-left: 10px;
    margin-right: 68px;
    padding: 10px;
    width: 40%;
}

#item5 {
    flex-grow: 2;
    margin-top: -20px;
    margin-right: 10px;
    padding: 10px;
    width: 40%;
}


/** Aside **/
aside {
    width: 350px;
    float: right;
    display: flex;
    flex-direction: column;
    background: #ebe7dd;
    margin-bottom: 20px;
}

aside h4 {
    color: #86521a;
}

fieldset {
    border: none;
    margin-top: -11px;
}

input {
    height: 20px;
    background: #fff;
    border: none;
    font-size: 1em;
    width: 80px;
}

#depoimento {
    margin-bottom: 10px;
}

#form {
    padding: 10px 27px 27px 27px;
    background: #cdc8b1;
}

#form input[type="date"], input[type="number"], input[type="submit"] {
    border: 1px solid #ada484;

}

#form input[type="submit"] {
    background: #9b9271;
    color: #fff;
    width: 100%;
    height: 40px;
    font-size: 1.2em;
}

#galeria {
    padding: 10px 27px 27px 27px;
}

#galeria a {
    display: block;
    background: url(/img/fundo-foto.png) no-repeat;
    float: left;
    padding: 20px 16px 16px 16.5px;
    margin: 10px 0px 0px 20px;
}

/*** Footer ***/
footer {
    background: url(/img/fundo-rodape.png) no-repeat top center;
    clear: both;
    text-align: center;
    padding: 20px 0px 30px 0px;
}

footer p {
    margin-top: 10px;
}

footer p a {
    padding: 2px 10px;
}